*{
    margin:0;
}
.app{
    background-color: #fafafa;
}
.app__signup{
    display: flex;
    flex-direction: column;
}

.app__header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 20px;
    border-bottom:1px solid lightgrey;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
}
.app__headerImage{
    object-fit: contain;
}

.app__posts{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.post__right{
    margin-left: 20px;
}

@media (max-width: 600px), (min-width: 800px) {
    .app__posts{
        display: flex;
        flex-direction: column;
        padding: 2px;
        margin: 20px;
    }


  }